/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body,
.navbar-default {
    background: rgb(219, 212, 212);
    border: none !important;
    margin: 10px;
 }

.col-md-4-0{
    padding-left: 500px;
}

.col-md-4-1 {
    float: left;
}

h1 {
    text-align: center;
}

body {
    font-family: 'Rozha One', serif;
    font-size: 20px;
}

.login {
    margin: auto;
    width: 50%;
    border: none;
    padding: 50px;
}

.carousel-inner>.item {
     text-align: center;
}

.carousel-inner>.item>img {
    display: inline-block;
    height: 400px;
}

.carousel-inner>.item>a {
    display: block;
}

.product-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px auto;
}

.product-images img {
    height: 300px;
}